#inner-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero{
    max-width: 1440px;
    width: 100%;
    height: 965px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#hero h1{
    font-family: "spaceMono", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 96px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px white; /* Épaisseur et couleur de la bordure */
            text-stroke: 3px white; /* Épaisseur et couleur de la bordure pour les navigateurs supportant la spécification future */
}



/* galerie photo */

#photos{
    display: flex;
    flex-wrap: wrap;
    max-width: calc(564px * 2 + 20px);
    gap: 20px;
    margin: 40px auto;
    justify-content: center;

}

.post-photo-thumbnail{
    flex: 0 0 calc(50% - 20px);
}

.posts-load-button{
    height: 50px;
    width: 272px;
    border-radius: 0px;
    background-color: #d8d8d8;
    color: black;
    font-family: "spaceMono", sans-serif;
    font-size: 12px;
}

.posts-load-button:focus {
    background-color: #d8d8d8;
    color: black;
}

.posts-load-button:hover{
    background-color: #afafaf;
    color: black;
}

#galerie-photo form{
    justify-content: center;
    margin-bottom: 40px;
}


.sort-elements{
    width: 260px;
    height: 42px;
    padding-left: 18px;
    border-radius: 8px;
    border: 1.3px solid rgba(184, 187, 194, 1);
    font-family: "poppins", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

#sort-posts-form{
    justify-content:flex-start !important;
    margin: 80px 20px 0;
    display: flex;
    gap: 35px;
}

select[name="order"]{
    margin-left: auto;
}

@media screen and (max-width: 1100px)  {
    #hero h1{
        font-size: 60px;
    }
}

@media screen and (max-width: 900px)  {
    #hero{
        max-height: 253px;
    }

    #hero h1{
        font-size: 60px;
        -webkit-text-stroke: 2px white; /* Épaisseur et couleur de la bordure */
            text-stroke: 2px white;
    }

    

    #photos{
        width: 100vw;
        margin: 0 20px 80px;
    }

    #sort-posts-form{
        flex-direction: column;
        gap: 8px;
        margin: 28px 0;
        justify-content: center;
        align-items: center;
    }

    .hover-image{
        width: calc(100% - 40px);
    }

    .post-photo-thumbnail {
        width: 100%;
        padding: 0 20px;
        flex: 0 0 100%;
        height: 270px;
    }

    select[name="order"] {
        margin-left:initial;
    }
}

@media screen and (max-width: 700px)  {
    #hero h1{
        font-size: 40px;
        -webkit-text-stroke: 1px white; /* Épaisseur et couleur de la bordure */
            text-stroke: 1px white;
    }
}

@media screen and (max-width: 460px)  {
    #hero h1{
        font-size: 30px;
    }
}