#main{
    max-width: 1440px;
    padding: 0 144px;
    margin: auto;
}


/* ---------------------------------- POST ---------------------------------- */

/* style du post en général */

#post{
    display: flex;
    width: 100%;
    margin-top: 38px;
}

#post-info, #post-image{
    flex: 1;
}

/* style des infos du post */

#post-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

#post-info h1{
    font-family: "SpaceMono", sans-serif;
    font-size: 66px;
    font-style: italic;
    text-transform: uppercase;
    width: 420px;
    line-height: 58px;
    font-weight: 400;
}

#post-info ul{
    text-transform: uppercase;
    list-style: none !important;
    margin: 0px !important;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "SpaceMono", sans-serif;
    font-weight: 400;
    border-bottom: 1px solid black;
}

/* style de la photo du post */

#post-image {
    display: flex;
    flex-direction: column-reverse;
}

#post-image img{
    padding-left: 20px;
    align-self: flex-start; 
}


/* ---------------------------------- Contact et navigation ---------------------------------- */


#contact-and-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 118px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

/* partie contact */

#contact{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact button{
    height: 50px;
    width: 272px;
    border-radius: 0px;
    background-color: #d8d8d8;
    color: black;
    font-family: "spaceMono", sans-serif;
    font-size: 12px;
}

#contact button:hover{
    background-color: #afafaf;
}

#contact p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
}


/* partie navigation */

#navigation{
    padding-top: 8px;
    width: 81px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#preview{
    width: 81px;
    height: 71px;
    overflow: hidden;
}

#nav-arrow{
    display: flex;
    justify-content: space-between;
}

.arrow{
    width: 25px;
}

/* vous aimerez aussi */

#related-photos h2{
    font-family: "spaceMono", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
}

#related-photos{
    margin-top: 60px;
    margin-bottom: 110px;
}

@media screen and (max-width: 979px)  {

    #post{
        flex-direction: column-reverse;
        padding: 0 55px;
        
    }

    #post-image img {
        padding-left: 0;
    }

    #post-info ul{
        border-bottom: none;
        gap: 15px;
        
    }

    #post-info{
        margin-top: 20px;
    }

    #post-info h1{
        font-size: 46px;
        line-height: 48px;
        width: 100%;
    }
    
    #main{
        padding: 0;
    }

    #contact-and-navigation {
        border-top: 1px solid black;
        justify-content: center;
        margin: 0;
        height: auto;
    }

    #contact{
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 24px 55px;
        min-height: 133px;
    }

    #contact button {
        width: 100%;
    }

    #contact p{
        margin: 0;
    }

    #navigation{
        display: none;
    }

    #related-photos{
        padding-left: 30px;
        padding-right: 30px;
        margin: 24px 0;
    }

    #related-photos h2{
        margin-bottom: 20px;
        text-align: center;
    }

    .post-thumbnail-row{
        flex-direction: column;
    }

    .post-photo-thumbnail{
        width: 100%;
        height: 280px;
    }

    .post-photo-thumbnail > img{
        height: 280px;
    }
}





